
<script async src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap"></script> 
<script> 

var map;
var marker = [];
var infoWindow = [];
var markerData = [ // マーカーを立てる場所名・緯度・経度
       <% @shops.each do |shop| %>
       {
           name: '<%= shop.name %>',
           lat: <%= shop.lat %>,
           lng: <%= shop.lng %>,
           url: "/map/<%= shop.id %>"
       },
       <% end %>
   ];
  function initMap() {
  // 地図の作成
      var mapLatLng = new google.maps.LatLng({lat: markerData[0]['lat'], lng: markerData[0]['lng']});
    map = new google.maps.Map(document.getElementById('sample'), { // #sampleに地図を埋め込む
      center: mapLatLng, // 地図の中心を指定
        zoom: 12// 地図のズームを指定
    });
  
  // マーカー毎の処理
  for (var i = 0; i < markerData.length; i++) {
          markerLatLng = new google.maps.LatLng({lat: markerData[i]['lat'], lng: markerData[i]['lng']}); // 緯度経度のデータ作成
          marker[i] = new google.maps.Marker({ // マーカーの追加
          position: markerLatLng, // マーカーを立てる位置を指定
              map: map ,// マーカーを立てる地図を指定
              
          });

  
      infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
          content:  `<a href=${markerData[i].url}>${markerData[i].name}</a>`

            // 吹き出しに表示する内容
        });

          
  
      markerEvent(i); // マーカーにクリックイベントを追加
  }
  
    
  }
// マーカーにクリックイベントを追加
function markerEvent(i) {
    marker[i].addListener('click', function() { // マーカーをクリックしたとき
      infoWindow[i].open(map, marker[i]); // 吹き出しの表示
  });
}

</script> 
<div class='map-container'>
  <div id="sample"></div>
  <div class="overflow-auto" style="width:30%; height:800px;">
    <% @shops.each do |shop| %>
      <div class='scroll'>
        <%= attachment_image_tag shop, :shop_image %>
        <%= link_to map_path(shop) do %>
           <%=simple_format shop.name %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
