<script async src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap"></script> 
<script> 
var map;
var marker = [];
var infoWindow = [];
<% @shop.each do |shop| %>
  function initMap() {
  // 地図の作成
      var mapLatLng = new google.maps.LatLng({lat: <%=shop.lat %>, lng: <%=shop.lng %>}); // 緯度経度のデータ作成
    map = new google.maps.Map(document.getElementById('sample'), { // #sampleに地図を埋め込む
      center: mapLatLng, // 地図の中心を指定
        zoom: 12// 地図のズームを指定
    });
  
  // マーカー毎の処理
  for (var i = 0; i < shop.length; i++) {
          markerLatLng = new google.maps.LatLng({lat: <%=shop.lat %>, lng: <%=shop.lng %>}); // 緯度経度のデータ作成
          marker[i] = new google.maps.Marker({ // マーカーの追加
          position: markerLatLng, // マーカーを立てる位置を指定
              map: map ,// マーカーを立てる地図を指定
              
          });

  
      infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
          content:   '<%=link_to '#{shop.name}', '/map/#{shop.id}' %>'
                  

            // 吹き出しに表示する内容
        });

          
  
      markerEvent(i); // マーカーにクリックイベントを追加
  }
  
    
  }
<% end %> 
// マーカーにクリックイベントを追加
function markerEvent(i) {
    marker[i].addListener('click', function() { // マーカーをクリックしたとき
      infoWindow[i].open(map, marker[i]); // 吹き出しの表示
  });
}

</script> 
<div class='map-container'>
  <div id="sample"></div>
  <div class="overflow-auto" style="width:30%; height:800px;">
    <% @shop.each do |shop| %>
      <div class='scroll'>
        <%= image_tag "/#{shop.shop_image}" %>
        <%= link_to 'map/#{shop.id}' do %>
           <%=simple_format shop.name %>
        <% end %>
        <a href="<%=shop.url %>">食べログ店舗画面</a>
      </div>
    <% end %>
  </div>
</div>
