<div class="container" >
      <div class="posts-index-image">
         <%= attachment_image_tag @shop, :shop_image %>
      </div>
      <div class="card">
        <div class="card-body">
            <div class="home-index-item"> 
                <div class='flexitem'>
                  <p>店名</p>
                </div>
                <div class='flexitem'>
                  <p><%=@shop.name %></p>
                </div>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
            <div class="home-index-item">
                <div class='flexitem'>
                  <p>住所</p>
                </div>
                <div class='flexitem'>
                  <p><%=@shop.adress %></p>
                </div>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
             <div class="home-index-item">
                <div class='flexitem'>
                  <p>電話番号</p>
                </div>
                <div class='flexitem'>
                  <p><%=@shop.phone_number %></p>
                </div>
            </div>
        </div>
      </div>  
</div>
<div class="modal_container">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          新規投稿
        </button>
    <div class="posts">
      <%= render 'posts', posts:@posts %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新規投稿</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= form_for(@post, url: {controller: 'map', action: 'create' }, remote: true) do |f| %>
          <div class="modal-body">
            <div class="form-group">
              <%= f.label :title, "タイトル" %>
              <%= f.text_field :title, class: "form-control" %>
            </div>
             <div class="form-group">
              <%= f.label :body, "クチコミ" %>
              <%= f.text_area :body, class: "form-control" %>
            </div>
          </div>
          <%= f.hidden_field :shop_id, value:@shop.id %>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "投稿する", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
  </div>
</div>